{% load utils i18n %}

<div class="field {{ container_name }}__{{ field_name }}--{{ m }}">
    {% if label %}
    <{{ label_html_wrapper }} class="field__label">
        {% if icon %}
        <i class="fa fa-{{icon}}"></i>
        {% endif %}
        {{ field_label }}
    </{{ label_html_wrapper }}>
    {% endif %}
    {{ object }}
    <{{ value_html_wrapper }} class="field__value">
    {% if field_value %}
        {{ field_value }}
    {% else %}
        {% trans 'Este contenido tiene este campo vacío todavía' %}
    {% endif %}
    </{{ value_html_wrapper }}>
</div>
