{# Generic item in views, as in tagged content #}
{% load imagekit utils %}

{% if item.published %}
<div class="blog--list">
    <a href="{{ item.get_absolute_url }}">
        <div class="blog__left--list">
            {% if item.images.all|length > 0 %}
            <figure class="blog__image--list">
                {% thumbnail '180x180' item.featured_image.image_file %}
            </figure>
            {% endif %}
        </div>
        <div class="blog__right--list">
            {% include 'fields/field-date.html' with start=item.date  b='post' m='full' %}
            <h4 class="blog__name--list">
                  {% simple_field item 'name' lang %}
            </h4>
            {% field obj=item field_name='summary' lang=lang m='short' %}
        </div>
    </a>
</div>
{% endif %}
