{# tags #}
{% load i18n utils %}

<div class="field {{b}}__tags{% if m %}--{{m}}{% endif %}">
    <label class="field__label">
        <i class="fa fa-tags"></i> {% trans 'Tags' %}
    </label>
    <ul class="field__value">
        {% for tag in object.tags.all %}
        <li class="field__value-item">
            <a href="{% url 'tag' tag.slug %}">
                {% simple_field tag 'name' lang %}
            </a>
        </li>
        {% empty %}
        {% trans 'Este contenido no tiene tags asociadas' %}
        {% endfor %}
    </ul>
</div>
