{# field links #}
{% load i18n %}

{% if links|length > 0 %}
<div class="field {{b}}__links{% if m %}--{{m}}{% endif %}">
    <label class="field__label">
        <i class="fa fa-link"></i> {% trans 'Enlaces relacionados' %}
    </label>
    <ul class="field__value">
        {% for link in links %}
        <li class="field__value-item">
            {% if link.title %}
            <p>» {{ link.title }}:</p>
            {% endif %}
            <a href="{{ link.url }}" target="_blank">
                {{ link.url }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
