{# Main menu #} {% load static i18n utils %}

{% with section=request.get_full_path|get_section %}
<nav class="menu-main{% if modifier %}--{{ modifier }}{% endif %}">
    <div class="menu-main__launcher hamburguer">
        <i></i><i></i><i></i>
    </div>
    <ul>
        <li class="menu-main__item{% if modifier %}--{{ modifier }}{% endif %} {% if section == 'quienes-somos' %}active{% endif %}">
            <p class="menu-main__item-text">
                <a href="{% url 'who' %}">
                    {% trans 'Quiénes somos' %}
                </a>
            </p>
            <ul class="menu-main__submenu collapsed">
                <li class="menu-main__submenu-item">
                    <a href="{% url 'team' %}">
                        {% trans 'Equipo' %}
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-main__item{% if modifier %}--{{ modifier }}{% endif %} {% if section == 'que-hacemos' %}active{% endif %}">
            <a href="{% url 'what' %}">
                {% trans 'Qué hacemos' %}
            </a>
        </li>
        <li class="menu-main__item{% if modifier %}--{{ modifier }}{% endif %} {% if section == 'proyectos' %}active{% endif %}">
            <p class="menu-main__item-text">
                <a href="{% url 'projects' %}">
                    {% trans 'Trabajos' %}
                </a>
            </p>
            <ul class="menu-main__submenu collapsed">
                <li class="menu-main__submenu-item">
                    <a href="{% url 'projects_cat' 'espacio-publico' %}">
                        {% trans 'Espacio público' %}
                    </a>
                </li>
                <li class="menu-main__submenu-item">
                    <a href="{% url 'projects_cat' 'vivienda' %}">
                        {% trans 'Vivienda' %}
                    </a>
                </li>
                <li class="menu-main__submenu-item">
                    <a href="{% url 'projects_cat' 'equipamientos' %}">
                        {% trans 'Urbanismo táctico' %}
                    </a>
                </li>
                <li class="menu-main__submenu-item">
                    <a href="{% url 'projects_cat' 'participacion' %}">
                        {% trans 'Participación' %}
                    </a>
                </li>
                <li class="menu-main__submenu-item">
                    <a href="{% url 'resources' %}">
                        {% trans 'Recursos' %}
                    </a>
                </li>
                <li class="menu-main__submenu-item">
                    <a href="{% url 'projects_cat' 'otros' %}">
                        {% trans 'Otros' %}
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-main__item{% if modifier %}--{{ modifier }}{% endif %} {% if section == 'archivo' %}active{% endif %}">
            <p class="menu-main__item-text">
                <a href="{% url 'archive' %}">
                    {% trans 'Archivo' %}
                </a>
            </p>
            <ul class="menu-main__submenu collapsed">
                <li class="menu-main__submenu-item">
                    <a href="{% url 'repository' %}">
                        {% trans 'Repositorio webs' %}
                    </a>
                </li>
                <li class="menu-main__submenu-item">
                    <a href="{% url 'videos' %}">
                        {% trans 'Videos' %}
                    </a>
                </li>
                <li class="menu-main__submenu-item">
                    <a href="{% url 'bibliography' %}">
                        {% trans 'Bibliografía' %}
                    </a>
                </li>
                <li class="menu-main__submenu-item">
                    <a href="{% url 'press' %}">
                        {% trans 'Hemeroteca' %}
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-main__item{% if modifier %}--{{ modifier }}{% endif %} {% if section == 'mapa' %}active{% endif %}">
            <a class="menu-main__item-text" href="{% url 'map' %}">
                {% trans 'Mapa' %}
            </a>
        </li>
        <li class="menu-main__item{% if modifier %}--{{ modifier }}{% endif %} {% if section == 'blog' %}active{% endif %}" >
            <p class="menu-main__item-text">
                <a href="{% url 'whatsup' %}">
                    {% trans 'Actualidad' %}
                </a>
            </p>
            <ul class="menu-main__submenu collapsed">
                <li class="menu-main__submenu-item">
                    <a href="{% url 'blog' %}">
                        {% trans 'Blog' %}
                    </a>
                </li>
                <li class="menu-main__submenu-item">
                    <a href="https://twitter.com/straddle3" target="_blank">
                        {% trans 'Twitter' %}
                    </a>
                </li>
                <li class="menu-main__submenu-item" target="_blank">
                    <a href="https://www.instagram.com/explore/tags/straddle3">
                        {% trans 'Instagram' %}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
{% endwith %}
