{# Main menu #} {% load static i18n %}

<nav class="menu-user{% if modifier %}--{{ modifier }}{% endif %}">
    <ul>
        {% if request.user.is_anonymous %}
        <li class="menu-user__link{% if modifier %}--{{ modifier }}{% endif %}">
            <a href="{% url 'admin:login' %}">
                <i class="fa fa-sign-in"></i> {% trans 'login' %}
            </a>
        </li>
        {% endif %}
        {% if request.user.is_staff %}
        <li class="menu-user__link{% if modifier %}--{{ modifier }}{% endif %}">
            <a href="{% url 'admin:index' %}">
                <i class="fa fa-cogs"></i> {% trans 'admin' %}
            </a>
        </li>
        {% endif %}
        {% if not request.user.is_anonymous %}
        <li class="menu-user__link{% if modifier %}--{{ modifier }}{% endif %}">
            <a href="{% url 'admin:logout' %}">
                <i class="fa fa-sign-out"></i> {% trans 'logout' %}
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
