{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load imagekit i18n utils static leaflet_tags %}
{% block body_classes %}page--front{% endblock %}
{% block page_html_title %}inicio{% endblock %}

{% block page_header %}
    <link rel="stylesheet" href='{% js 'bower_components/flexslider/flexslider.css' %}' />
{% endblock %}

{% block main %}
<div class="site-info">
    {% text frontpage user.is_staff lang %}
</div>
<div class="page__content--front">
    <div class="featured-slideshow">
        <div class="flexslider">
            <ul class="flexslider__items slides">
                {% for image in frontpage.images.all %}
                    <li class="flexslider__item slide">
                        <div class="flexslider__item-caption flex-caption">
                            <h5>{{ image.alt_text }}</h5>
                        </div>
                        {% thumbnail '1920x480' image.image_file %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="front-navigation container-fixed">
        <div class="front-navigation__left">
            <a href="{% url 'resources' %}">
                <figure class="front-navigation__image">
                    <img class="mask" src="{% img 'recursos.svg' %}" />
                    {% thumbnail '480x240' random_resource.featured_image.image_file %}
                </figure>
                <h2 class="front-navigation__title">
                    {% trans 'recursos I+D' %}
                </h2>
                <p class="front-navigation__text">
                    {% text 'Recursos' user.is_staff lang %}
                </p>
            </a>
        </div>
        <div class="front-navigation__center"  href="{% url 'connections' %}">
            <a href="{% url 'connections' %}">
                <figure class="front-navigation__image">
                    <img class="mask" src="{% img 'conexiones.svg' %}" />
                    {% thumbnail '480x240' random_connection.featured_image.image_file %}
                </figure>
                <h2 class="front-navigation__title">
                  {% trans 'conexiones' %}
                </h2>
                <p class="front-navigation__text">
                    {% text 'Complicidades' user.is_staff lang %}
                </p>
            </a>
        </div>
        <div class="front-navigation__right"  href="{% url 'projects' %}">
            <a href="{% url 'projects' %}">
                <figure class="front-navigation__image">
                    <img class="mask" src="{% img 'proyectos.svg' %}" />
                    {% thumbnail '480x240' random_project.featured_image.image_file %}
                </figure>
                <h2 class="front-navigation__title">
                  {% trans 'proc/yectos' %}
                </h2>
                <p class="front-navigation__text">
                    {% text 'Proyectos' user.is_staff lang %}
                </p>
            </a>
        </div>
    </div>
    <div class="contact-row">
        <a href="mailto:s3@straddle3.net" target="_blank">
            <i class="fa fa-envelope"></i>
        </a>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    {# jquery #}
    <script type="text/javascript" src='{% static 'admin/js/vendor/jquery/jquery.min.js' %}'></script>
    {# flexslider #}
    <script type="text/javascript" src='{% js 'bower_components/flexslider/jquery.flexslider.js' %}'></script>
    {# lightbox #}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $('.flexslider').flexslider({
            animation: "slide",
            slideshowSpeed: 8000,
            animationSpeed: 2000
        });
    });
    </script>
{% endblock %}
