{# Frontpage #} {% extends 'layouts/single-fluid-column--without-footer.html' %}
{% load utils leaflet_tags static %}
{% block body_classes %}page--map{% endblock %}
{% block page_html_title %}Map of Straddle3{% endblock %}

{% block page_header %}
    {% leaflet_css %}
{% endblock %}

{% block main %}
    <div id="straddle-map"></div>
{% endblock %}

{% block page_scripts %}
    {# leaflet #}
    {% leaflet_js %}
    {# jquery #}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    {# leaflet map script #}
    <script type="text/javascript" src="{% js 'straddle-map.js' %}"></script>
{% endblock %}
