{# Frontpage #} {% extends 'layouts/single-fluid-column.html' %} {% load utils leaflet_tags %}
{% block body_classes %}map{% endblock %}
{% block page_html_title %}Map of Straddle3{% endblock %}

{% block page_header %}
    {% leaflet_css %}
{% endblock %}

{% block main %}
    <img class="map-banner" src="{% img 's3.svg' %}" />
    <div id="straddle-map"></div>
{% endblock %}

{% block page_scripts %}
    {# leaflet #}
    {% leaflet_js %}
    {# jquery #}
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    {# leaflet map script #}
    <script type="text/javascript" src="{% js 'straddle-map.js' %}"></script>
{% endblock %}
