{# About #}
{% extends 'layouts/single-fluid-column.html' %}
{% load utils i18n %}
{% block body_classes %}page--what{% endblock %}
{% block page_html_title %}{% trans 'Qué hacemos' %}{% endblock %}

{% block main %}
<div class="container-fixed">
    <nav class="breadcrumb">
        <a href="{% url 'front' %}">s3</a> » {% trans 'Qué hacemos' %}
    </nav>
    <h1 class="page__title--projects">
        {% trans 'Qué hacemos' %}
    </h1>
    <div class="page__content--who">
        {% text 'Espíritu y método' %}
        {% text 'Líneas de trabajo' %}
        {% text 'Eventos y redes' %}
    </div>
</div>
{% endblock %}
