// Region header

.region-header
  position: fixed
  z-index: 10001
  width: 100vw
  top: 0
  background: #222
  line-height: $header_height
  height: $header_height

.region-header__left
  padding-left: $m
  +breakpoint('sm')
    display: inline-block

.region-header__right
  padding: 0 $m
  +breakpoint('sm')
    float: right
  color: white
  +links(white, $palette_yellow, .2s ease)
  +clearfix

@keyframes hideup
  0%
    top: 0
  100%
    top: -$m*4

@keyframes showdown
  0%
    top: -$m*4
  100%
    top: 0

.region-header.hidden,
.region-header.hidden .brand,
.region-header.hidden .hamburguer,
.region-header.hidden .lang-switcher,
  +animation(hideup 1s ease)
  animation-fill-mode: forwards

.region-header.visible,
.region-header.visible .brand,
.region-header.visible .hamburguer,
.region-header.visible .lang-switcher,
  +animation(showdown 1s ease)
  animation-fill-mode: forwards
