// Footer region
  /templates/regions/footer.html

.region-footer
  background-color: $color_footer_background
  font-family: $font_headers
  +links_none
  line-height: $m*3
  font-size: .8em
  a
    text-decoration: underline !important
    text-decoration-style: dotted !important

.region-footer__left
  color: $color_footer_text
  display: inline-block
  font-weight: bold
  padding-left: $m*2

.region-footer__right
  color: $color_footer_text
  float: right
  padding-right: $m*2
