// Region header

.region-header
  position: fixed
  z-index: 10001
  width: 100vw
  top: 0
  background: #232323
  line-height: $header_height

.region-header__left
  display: inline-block
  padding-left: $m

.region-header__right
  float: right
  padding: 0 $m
  color: white
  +links(white, $palette_yellow, .2s ease)
  +clearfix

.region-header__bottom
  background: $palette_yellow
