// Region content

.region-content
  border-top: $header_height solid #222222
  padding: $m*2 $m
  +animation(fadein 1.5s 1)
  min-height: calc(100vh - #{$footer_height} - 1px)

.page--map,
.page--front
  .region-content
    padding: 0

.page--connection,
.page--project,
.page--resource,
.page--post,
.page--front,
.page--map,
.page--who
  .region-content
    padding-bottom: 0
