// Text blocks

.text-block
  margin-bottom: $m*2
  position: relative
  +links_none
  h5 a
    margin-left: $m
    background-color: $palette_yellow
    padding: $m/4 $m/2
    +transition(background-color .2s ease)
    &:hover
      background-color: darken($palette_yellow, 5%)

.text-block__label
  text-transform: uppercase

.text-block .fa-edit
  position: absolute
  top: -$m*1.5
  right: 0

#text-definicion,
#text-nuestra-relacion-con-aacc
  .text-block__content
    margin-top: $m
    text-align: justify
    +breakpoint('sm')
      font-size: 1.25em
      +column-count(2)
      padding: 0 $m
