// Brand block

.brand
  // width: $m*2
  // margin-top: $m/4
  // +breakpoint('sm')
  width: $m*4
  padding-top: $m/2
  top: 0
  left: $m/2
  margin: 0
  position: fixed
  z-index: 10002
  +animation(faderight 1s 1)
