// Breadcrumbs
  /templates/blocks/fake-breadcrumb.html
  /templates/blocks/breadcrumb.html

.fake-breadcrumb
  display: inline-block
  float: left

.fake-breadcrumb__button
  +button_remarked
  +button_reset
  +label
  line-height: $m

  &:before
    content: "➜ "
    color: #ffdb00
    display: inline-block
    +transform(rotate(180deg))

.breadcrumb
  text-transform: uppercase
  font-size: .8em
  +links_none
  a
    font-weight: bold
    +transition(background-color, .15s ease)
  a:hover
    background-color: $palette_yellow
