// Front page

.front-navigation
  +clearfix
  +links_none
  margin: 0 auto $m*2

.front-navigation__image
  position: relative

.front-navigation__image
  text-align: center
  img
  .mask
    position: absolute
    z-index: 10
    max-width: 70%
    margin-left: -2px
    top: -2px
    & + img
      max-width: 65%
      +transition(filter, .2s ease)
      filter: grayscale(100%) brightness(50%)
    &:hover
      + img
        filter: none

.front-navigation__left,
.front-navigation__center,
.front-navigation__right
  border: 2px solid white
  display: block
  position: relative
  padding: $m
  +breakpoint('sm')
    float: left
    max-width: 33.33%

.front-navigation__title
  text-transform: uppercase
  margin-top: 0
  text-align: center

.front-navigation .text-block__content
  font-size: 1.25em
  margin-top: $m
  text-align: center

.front-navigation__list-title
  text-align: center
  text-transform: uppercase
  font-size: .9em
.page--front .flex-control-nav
  display: none
.page--front .flexslider
  margin-bottom: 0
  position: relative
  border-bottom: 1px solid rgba($palette_yellow, .25)
.page--front .flexslider__item-caption
  opacity: 0
  position: absolute
.page--front .flexslider__item
  background-color: #f5f5f5
.item-list-reduced--front
  vertical-align: middle
  font-size: .9em
  padding: 4px $m/2
  clear: both
  +clearfix
  p
    margin-bottom: 0
    max-width: 75%
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
  img
    +transition(filter .2s ease)
    filter: grayscale(100%) brightness(50%)
    +border-radius(50%)
    float: left
    margin-right: $m
  &:hover
    img
      filter: none
.item-list-reduced__category--front
  font-size: .7em
  opacity: .8
  text-transform: uppercase

.contact-row
  +links_none
  a
    display: block
    text-align: center
    line-height: $m
    background: $palette_yellow
    font-weight: bold
    text-transform: uppercase
    opacity: .85
    +transition(background-color .2s ease)
    &:hover
      background-color: darken($palette_yellow, 5%)

.site-info
  background: $palette_yellow
  padding: $m/2
  .text-block
    margin-bottom: 0
  +breakpoint('sm')
    height: $m*3.5
    padding: 2px 0 0 0
    position: absolute
    height: 24px
    .text-block
      margin-bottom: auto
    p
      margin-left: $m*6.5
  width: 100%
  z-index: 10000
  opacity: .75
  font-family: $font_text
  font-size: .9em
  .text-block__label
    display: none
