// Items in grid view

.masonry
  margin-top: $m

.item--grid
  +links(#222, $color_text, .2s ease)
  &:hover
    .item__image--grid img
      +transform( scale(1.1) )
  margin-bottom: $m
  +breakpoint('sm')
    padding: $m
    margin-bottom: 0
  a
    display: block

.item__image--grid
  position: relative
  overflow: hidden
  margin-bottom: $m/2
  img
    +transition(transform .5s ease)

.item__name--grid
  text-transform: uppercase
  line-height: 1
  margin: $m/4 0

.item__category--grid,
.item__model--grid,
.item__date--grid
  text-transform: uppercase
  font-size: .8em

.team-grid
  padding: $m $m 0
  margin-top: $m

.team-grid__image
  padding: 0 $m
  +breakpoint('sm')
    padding: 0 $m*3

.team-grid__name
  margin-bottom: $m/2

.list--team h3
  text-transform: uppercase
