// Generic full view of models and overrides
// /models/{{*}}_detail.html

.field__label
  display: block
  margin: $m 0 $m/4
  +h(5)
  text-transform: uppercase

[class*='__summary--'],
.connection__description--,
.resource__description--
  padding: 0 $m*2
  margin: $m*2 0
  font-size: 1.5em
  line-height: 1.5
  text-decoration: underline
  text-decoration-color: $color_text
  border-left: 8px solid #3f3f3f

[class*='__body--']
  padding: 0 $m*2 0 0
  p
    margin-bottom: $m/6

[class*='__body--']
  margin-bottom: $m*3

[class*='__date--']
  +date
  .hyphen
    margin: 0 $m/4
  &:before
    content: " "
    display: block
    width: $m*2
    border-top: 8px solid #3f3f3f
    margin-bottom: 8px

[class*='__category--'] .bullet
  position: relative
  bottom: 2px

[class*='__links--']
  +links($palette_yellow, darken($palette_yellow, 5%), .2s ease)
  a
    text-decoration: underline !important
    text-decoration-style: dotted !important

[class*='__geolocation--']
  margin-left: $m*1.25
  margin-top: -$m*2
  .field__label
    text-align: left
    margin: 0 0 $m

[class*='__geolocation--'] .leaflet-container
  height: $width_fixed/4
  width: $width_fixed/4
  background: white !important
  .leaflet-bar
    border: 0
    a
      +border-radius(0)
      border: 0
      background-color: #ffdb00

.circular-frame
  position: absolute
  max-width: $width_fixed/4
  z-index: 1000
  pointer-events: none
  display: block

// Meta box

[class*='full__meta']
  padding: 0 0 $m*2 $m*2
  position: relative
  font-size: .9em

[class*='full__meta'] a
  display: block
  max-width: 100%
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

[class*='__tags--']
  text-transform: uppercase
  font-size: .8em
[class*='__tags--'] .field__value
  +links_none
  color: $color_text
[class*='__tags--'] .field__value-item
  display: inline-block
  padding: $m/4 $m/2
  margin-bottom: $m/4
  +border-radius($m/4)
  background: $palette_yellow
  +transition(background-color .2s ease)
  &:hover
    background-color: darken($palette_yellow, 5%)

.trimmed-content
  [class*='__body--'],
  .see-less
    display: none
  .see-more
    display: inline-block

.see-more
  display: none
  text-transform: uppercase
  font-size: .8em
  letter-spacing: 1px

.see-more,
.see-less
  +button_reset
  +transition(background-color, .2s ease)
  float: left
  margin: $m $m $m/2 0
  background: $palette_yellow
  padding: $m/2
  &:hover
    background-color: darken($palette_yellow, 5%)

.meta-title
  margin-top: 0
  text-align: right
  max-width: 75%
  position: relative
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  left: calc(-75% - #{$m})
  +transform-origin(100%)
  +transform(rotate(-90deg))
