// Share links
  /templates/blocks/share-links.html

.share-links
  padding-bottom: $m
  +links_none
  &:before
    content: " "
    width: $m*2
    display: block
    border-top: 6px solid #222

.share-links__title
  margin: $m/3 0

.share-links__item
  display: inline-block
  margin-right: $m
  .fa:hover
    cursor: pointer
  .fa-twitter:hover
    color: #1da1f2
  .fa-facebook:hover
    color: #3b5998
  .fa-google-plus:hover
    color: #dc4a38
  .fa-pinterest:hover
    color: #bd081c
