#straddle-map
  width: 100vw
  height: 100vh
  background-color: #222

.page--map .leaflet-bar
  +links(white, $palette_yellow, .2 ease)
  border: 1px solid rgba(yellow, .25)
  a
    +border-radius(0)
    border: 0
    background-color: #222
    +box-shadow(none)

.page--map .leaflet-control-attribution
  background-color: #222
  color: white
  +links(white, yellow, .2 ease)

.page--map .leaflet-popup-content-wrapper
  +border-radius(0)
  padding: $m/2

.page--map .leaflet-popup-content
  width: 480px
  max-width: 100%
  +links(darken($palette_yellow, 5%), $palette_yellow, .2s ease)

.page--map .marker-cat
  margin-bottom: 0

.page--map .marker-name
  margin: 0 0 $m/4

.page--map .marker-date
  font-size: .9em
  text-transform: uppercase
  margin-top: 0

.page--map .marker-summary
  font-family: $font_text
  font-size: 1.2em
