#straddle-map
  width: 100vw
  height: 100vh
  background-color: #222

.page--map .leaflet-bar
  +links(white, $palette_yellow, .2 ease)
  border: 0
  a
    +border-radius(0)
    background-color: #222
    +box-shadow(none)

.page--map .leaflet-control-attribution
  background-color: #222
  color: white
  +links(white, yellow, .2 ease)

.page--map .leaflet-popup-content-wrapper
  +border-radius(0)
  padding: $m/2

.page--map .leaflet-popup-content
  width: 480px
  max-width: 100%
  +links_none

.page--map .marker-cat
  margin-bottom: 0
  text-transform: uppercase
  font-size: .9em
  font-family: $font_text
  position: absolute
  top: -30px
  left: 0
  width: 100%
  background-color: #222
  color: white
  padding: 0 $m

.page--map .marker-name
  margin: $m/4 0
  line-height: 1.1
  text-transform: uppercase
  font-size: 2.25em
  &::after
    display: block
    content: " "
    border-top: 4px solid #222
    width: $m*2.5
    margin-top: $m/2

.page--map .marker-date
  font-size: .9em
  text-transform: uppercase
  margin-top: 0

.page--map .marker-summary
  font-family: $font_text
  font-size: 1.2em

.page--map .leaflet-top
  top: $m*2
  right: 10px
