{# flexslider galleries #}
{% load imagekit utils i18n %}

<div class="flexslider">
    <ul class="flexslider__items slides">
        {% for video in videos %}
        <li class="flexslider__item slide">
            {% videoembed src=video.source_url w=480 h=360 %}
            {% if not video.not_caption %}
            <p class="flexslider__item-caption flex-caption">
                {% simple_field video 'caption' lang %}
            </p>
            {% endif %}
        </li>
        {% endfor %}
        {% for image in images %}
            {% if image.image_file.url|file_exists %}
            <li class="flexslider__item slide">
                <a href="{{ image.image_file.url }}" data-lightbox="project">
                    {% if not image.image_file.url|ends:"gif" %}
                        {% thumbnail 'x480' image.image_file %}
                    {% else %}
                        <img src="{{ image.image_file.url }}" />
                    {% endif %}
                </a>
                {% if not image.not_caption %}
                <p class="flexslider__item-caption flex-caption">
                    {% simple_field image 'caption' lang %}
                </p>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <p class="flexslider__caption">
        {% with img_n=images|length vid_n=videos|length %}
            {% trans 'Mostrando' %} {% if vid_n %}{{ vid_n }} {% trans 'video' %}{{ vid_n|pluralize}}{% endif %}
            {% if img_n and vid_n %} {% trans 'y' %} {% endif %}
            {% if img_n %}{{ img_n }} {% trans 'foto' %}{{ img_n|pluralize}}{% endif %}
        {% endwith %}
    </p>
</div>
