{# flexslider galleries #}
{% load imagekit utils i18n %}

<div class="flexslider">
    <ul class="flexslider__items slides">
        {% for image in images %}
            {% if image.image_file.url|file_exists %}
            <li class="flexslider__item slide">
                <a href="{{ image.image_file.url }}" data-lightbox="project">
                    {% thumbnail 'x480' image.image_file %}
                </a>
                {% if not notcaption %}
                <p class="flexslider__item-caption flex-caption">
                    {{ image.alt_text }}
                </p>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
        {% for video in videos %}
        <li class="flexslider__item slide">
            {% videoembed src=video.source_url w=480 h=360 %}
        </li>
        {% endfor %}
    </ul>
    <p class="flexslider__caption">
        {% with img_n=images|length vid_n=videos|length %}
            Mostrando {% if img_n %}{{ img_n }} fotos{% endif %}
            {% if img_n and vid_n %} y {% endif %}
            {% if vid_n %}{{ vid_n }} videos{% endif %}
        {% endwith %}
    </p>
</div>
