{# block of navigation links at the bottom of the items #}
{% load static i18n %}

<ul class="navigation">
    <li class="navigation__item previous">
        {% if prev %}
        <a href="{{ prev.get_absolute_url }}">
            <p class="navigation__item-text">
                {% trans 'Ver contenido anterior' %}
            </p>
            {% include 'views/item--short.html' with item=prev %}
        </a>
        {% endif %}
    </li>
    <li class="navigation__item all">
        <a href="{% url all_url %}">
            <p class="navigation__item-text">
                {{ see_all }}
            </p>
        </a>
    </li>
    <li class="navigation__item next">
        {% if next %}
        <a href="{{ next.get_absolute_url }}">
            <p class="navigation__item-text">
                {% trans 'Ver contenido siguiente' %}
            </p>
            {% include 'views/item--short.html' with item=next %}
        </a>
        {% endif %}
    </li>
</ul>
