{# twitter timeline #}
<div class="twitter">
    <h5 class="twitter__title">
        <i class="fa fa-twitter"></i>
        <a href="https://twitter.com/straddle3" target="_blank">straddle3</a>
    </h5>
    <div class="twitter__content">
        <a class="twitter-timeline" data-link-color="#fc5504" height="900"
           href="https://twitter.com/straddle3?ref_src=twsrc%5Etfw"
           data-chrome="noheader nofooter noborders transparent noscrollbar">
            s3
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
        </script>
    </div>
</div>
