{# flexslider needed scripts #}
{% load static utils %}

{# jquery #}
<script type="text/javascript" src='{% static 'admin/js/vendor/jquery/jquery.min.js' %}'></script>
{# flexslider #}
<script type="text/javascript" src='{% js 'bower_components/flexslider/jquery.flexslider.js' %}'></script>
{# lightbox #}
<script type="text/javascript" src='{% js 'bower_components/lightbox2/dist/js/lightbox.min.js' %}'></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $('.flexslider').flexslider({
        animation: "slide",
    });
});
</script>
