{% load static utils %}

{# jquery #}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% js 'bower_components/masonry-layout/dist/masonry.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% js 'bower_components/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script type="text/javascript">
!(function($){
    $(document).ready( function(){
        var $grid = $('.masonry').masonry({
             percentPosition: true,
             itemSelector   : '.masonry__item',
             columnWidth    : '.masonry__item',
         });
        $grid.imagesLoaded().progress( function() {
            $grid.masonry('layout');
        });
    });
})(jQuery);
</script>
