{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n leaflet_tags imagekit %}
{% block body_classes %}page--connection{% endblock %}
{% block page_html_title %}{{ object.name }}{% endblock %}

{% block page_header %}
  {% leaflet_css %}
{% endblock %}

{% block main %}

{# brand #}
{% include 'blocks/brand.html' %}

<div class="page__edit--connection">
    <a href="{% url 'admin:models_connection_change' object.id %}" target="_blank">
        {% trans 'Edita este contenido' %}
    </a>
</div>

<div class="connection-header">
    {# image #}
    {% if object.images %}
    <div class="connection-header__field--featured-image">
        <div class="connection-header__field-value--featured-image"
            style="background-image: url('{% get_media_prefix %}{{ object.images.first.image_file }}')">
        </div>
        <p class="connection-header__field-alt--featured-image">
            <strong>img</strong>: {{ object.images.first.alt_text }}
        </p>
    </div>
    {% endif %}

    {# dates #}
    {% if object.start_date or object.end_date %}
    <div class="connection-full__field--dates">
        <p class="connection-full__field-value--dates">
            {% if object.start_date %}
            <span class="connection-full__field-value-item--dates start">{{ object.start_date }}</span>
            {% endif %}
            {% if object.end_date %}
            <span class="hyphen">–</span>
            <span class="connection-full__field-value-item--dates end">{{ object.end_date }}</span>
            {% endif %}
        </p>
    </div>
    {% endif %}
</div>

{# title #}
<h1 class="page__title--connection">
    {{ object.name }}
</h1>

<div class="connection-full container-fixed">
    {# fake_breadcrumb #}
    {% fake_breadcrumb %}
    {# breadcrumb #}
    <div class="breadcrumb">
        <button type="button" class="breadcrumb__button">
            {% trans 'Ver todas las conexiones' %}
        </button>
    </div>

    {# meta #}
    <div class="connection-full__meta">
        {# geolocation #}
        <img class="circular-frame" src="{% img 'circular-frame.png' %}" />
        <div id="connection-map" class="connection-full__field--geolocation" width="360px" height="312px">
        </div>
        {# category #}
        <div class="connection-full__field--category">
            <label class="connection-full__field-label--category">
                {% field_verbose_name object 'category' %}
            </label>
            <div class="connection-full__field-value--category">
                <span class="bullet" style="color: {{ object.category.color }}">●</span>
                {{ object.category.name }}
            </div>
        </div>

        {# promoter #}
        {% trans 'Agents' as agents_text_label %}
        {% field obj=object field_name='agents' label=True field_label=promoter_text_label %}

        {# links #}
        {% if object.links.all|length > 0 %}
        {% trans 'Enlaces relacionados' as related_links_label %}
        <div class="connection-full__field--links">
            <label class="connection-full__field-label--links">
                {{ related_links_label }}
            </label>
            <ul class="connection-full__field-value--links">
                {% for link in object.links.all %}
                <li class="connection-full__field-value-item--links">
                    <p>» {{ link.title }}:</p>
                    <a href="{{ link.url }}" target="_blank">
                        {{ link.url }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    {# body #}
    {% field obj=object field_name='description' %}
</div>

{# gallery #}
<div class="gallery--connection">
    {% trans 'Galería de imágenes' as gallery_label %}
    <div id="gallery-left-button" class="gallery__button-left--connection">
        ➜
    </div>
    <ul id="gallery-container" class="gallery__images--connection">
        {% for image in object.images.all %}
        <li class="gallery__image--connection">
            {% thumbnail 'x480' image.image_file %}
            <p class="gallery__image-alt--connection">
                {{ image.alt_text }}
            </p>
        </li>
        {% endfor %}
    </ul>
    <div id="gallery-right-button" class="gallery__button-right--connection">
        ➜
    </div>
</div>

{% endblock %}

{% block page_scripts %}
  {% leaflet_js %}
  <script type="text/javascript">
      var map = L.map('connection-map', {
          scrollWheelZoom    : false,
          attributionControl : false,
          zoomControl: false,
      }).setView([{{ object.geolocation.coordinates.1|unlocalize }}, {{ object.geolocation.coordinates.0|unlocalize }}], 12);
      L.control.zoom({'position' : 'topright'}).addTo(map);
      L.tileLayer('https://api.mapbox.com/styles/v1/ale/cj3rpgd2n00142slekpjya98f/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYWxlIiwiYSI6ImpKQ2dnekEifQ.GjyY2X3Wa6pgoHTPOrUBdA', {
        attribution: '<a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a> <a href="http://www.openstreetmap.org/about/" target="_blank">© OpenStreetMap</a>'
      }).addTo(map);
  </script>
  {# jquery #}
  <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% js 'gallery.js' %}"></script>
{% endblock %}
