{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n imagekit %}
{% block body_classes %}page--connections{% endblock %}
{% block page_html_title %}{% trans 'Complicidades' %}{% endblock %}


{% block main %}
{% if request.user.is_staff %}
<div class="page__add--connections">
    <a href="{% url 'admin:models_connection_add' %}" target="_blank">
        {% trans 'Publica una complicidad nueva' %}
    </a>
</div>
{% endif %}
<div class="container-fixed">
    <div class="view-header">
        <div class="left">
            <nav class="breadcrumb">
                <a href="{% url 'front' %}">s3</a> » {% if category %}<a href="{% url 'connections' %}">{% trans 'Complicidades' %}</a>{% else %}{% trans 'Complicidades' %}{% endif %} {% if category %}» {{ category }}{% endif %}
            </nav>
            <h1 class="page__title--connections">
                {% trans 'Conexiones' %}
            </h1>
        </div>
        <div class="center">
            {% text 'Complicidades-vista' user.is_staff lang %}
        </div>
        <div class="right">
            {% include 'blocks/categories-filters.html' with items=categories %}
        </div>
    </div>
    <div class="list--connections masonry">
        {% if object_list|length > 0 %}
            {% for connection in object_list %}
                {% include 'views/item--grid.html' with item=connection show_cat=True show_date=True %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    {% include 'scripts/filters.html' %}
{% endblock %}
