{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n leaflet_tags imagekit %}
{% block body_classes %}page--connection{% endblock %}
{% block page_html_title %}{{ object.name }}{% endblock %}

{% block page_header %}
    {% leaflet_css %}
    <link rel="stylesheet" href='{% js 'bower_components/flexslider/flexslider.css' %}' />
    <link rel="stylesheet" href='{% js 'bower_components/lightbox2/dist/css/lightbox.min.css' %}' />
{% endblock %}

{% block main %}

{% if request.user.is_staff %}
<div class="page__edit--connection">
    <a href="{% url 'admin:models_connection_change' object.id %}" target="_blank">
        {% trans 'Edita este contenido' %}
    </a>
</div>
{% endif %}

<div class="page__content--project">
    <div class="container-fixed">
        <nav class="breadcrumb">
            <a href="{% url 'front' %}">s3</a> » <a href="{% url 'connections' %}">{% trans 'Conexiones' %}</a> » {% simple_field object 'name' lang %}
        </nav>
        {# title #}
        <h1 class="page__title--project">
            {% simple_field object 'name' lang %}
        </h1>
        {# subtitle #}
        {% if object.subtitle %}
        <h3 class="page__subtitle--project">
            {% simple_field object 'subtitle' lang %}
        </h3>
        {% endif %}
        {# dates #}
        {% include 'fields/field-date.html' with start=object.start_date end=object.end_date b='connection' m='full' %}
        <div class="left">
            {# body #}
            {% field obj=object field_name='body' lang=lang safe=True %}
        </div>
        <div class="right">
            {% include 'blocks/flexslider.html' with images=object.images.all videos=object.videos.all notcaption=image.notcaption %}
            {% include 'blocks/share.html' with title=object.name url=request.build_absolute_uri %}
        </div>
    </div>
    <div class="page__content-bottom--connection">
        <div class="container-fixed">
            <div class="left">
                {# geolocation #}
                {% include 'fields/field--geolocation.html' with b="connection" m="full" %}
            </div>
            <div class="center-left">
                {# category #}
                {% include 'fields/field--category.html' with b="connection" m="full" category_base_url="connections_cat" category=object.category %}
                {# tags #}
                {% include 'fields/field--tags.html' with b="connection" m="full" tags=object.tags.all %}
            </div>
            <div class="center-right">
                {# links #}
                {% include 'fields/field--links.html' with b="connection" m="full" links=object.links.all %}
            </div>
            <div class="right">
                {# promoter #}
                {% field obj=object field_name='agents' label=True lang=lang %}
            </div>
        </div>
    </div>
    {% include 'blocks/next-navigation.html' with prev=previous_connection next=next_connection all_url='connections' see_all='Ver todas las conexiones' %}
</div>

{% endblock %}

{% block page_scripts %}
    {% include 'scripts/situation-map.html' with position=object.geolocation %}
    {% include 'scripts/flexslider.html' %}
{% endblock %}
