{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n imagekit %}
{% block body_classes %}page--blog{% endblock %}
{% block page_html_title %}Blog{% endblock %}

{% block main %}
{% if request.user.is_staff %}
<div class="page__add--post">
    <a href="{% url 'admin:models_post_add' %}" target="_blank">
        {% trans 'Publica un post nuevo' %}
    </a>
</div>
{% endif %}
<div class="container-fixed">
    <nav class="breadcrumb">
        <a href="{% url 'front' %}">s3</a> » {% trans 'Blog' %}
    </nav>
    <h1 class="page__title--resources">
        {% trans 'Blog' %}
    </h1>
    <div class="page__content--blog">
        <div class="page__content-left--blog">
            <div class="list--blog masonry">
              {% if object_list|length > 0 %}
                  {% for post in object_list %}
                      {% include 'views/blog--list.html' with item=post %}
                  {% endfor %}
              {% endif %}
            </div>
        </div>
        <div class="page__content-right--blog">
            {% include 'blocks/twitter.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    {% masonry %}
{% endblock %}
