{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n leaflet_tags imagekit %}
{% block body_classes %}page--project{% endblock %}
{% block page_html_title %}{{ object.name }}{% endblock %}

{% block page_header %}
    {% leaflet_css %}
    <link rel="stylesheet" href='{% js 'bower_components/flexslider/flexslider.css' %}' />
    <link rel="stylesheet" href='{% js 'bower_components/lightbox2/dist/css/lightbox.min.css' %}' />
{% endblock %}

{% block main %}

{% if request.user.is_staff %}
<div class="page__edit--project">
    <a href="{% url 'admin:models_project_change' object.id %}" target="_blank">
        {% trans 'Edita este contenido' %}
    </a>
</div>
{% endif %}

<div class="page__content--project">
    <div class="container-fixed">
        <nav class="breadcrumb">
            <a href="{% url 'front' %}">s3</a> » <a href="{% url 'projects' %}">{% trans 'Proyectos' %}</a> » {% simple_field object 'name' lang %}
        </nav>
        {# title #}
        <h1 class="page__title--project">
            {% simple_field object 'name' lang %}
        </h1>
        {% if object.subtitle %}
        <h3 class="page__subtitle--project">
            {% simple_field object 'subtitle' lang %}
        </h1>
        {% endif %}
        {# dates #}
        {% include 'fields/field-date.html' with start=object.start_date end=object.end_date b='project' m='full' %}
        <div class="right">
            {% include 'blocks/flexslider.html' with images=object.images.all videos=object.videos.all notcaption=image.notcaption %}
            {% include 'blocks/share.html' with title=object.name url=request.build_absolute_uri %}
        </div>
        <div class="left">
            <div class="project-full">
                {# summary #}
                {% if not object.not_summary %}
                    {% field obj=object field_name='summary' lang=lang safe=True %}
                {% endif %}
                {# see more #}
                <button class="see-more">
                    ✚ {% trans 'Leer más' %}
                </button>
                <button class="see-less">
                    ✕
                </button>
                {# body #}
                {% field obj=object field_name='body' lang=lang safe=True %}
            </div>
        </div>
    </div>
    <div class="page__content-bottom--project">
        <div class="container-fixed">
            <div class="left centered">
                {# geolocation #}
                {% include 'fields/field--geolocation.html' with b="project" m="full" %}
            </div>
            <div class="center-left">
                {# author_text #}
                {% field obj=object lang=lang field_name='author_text' label=True icon="bolt" %}
                {# gratitude_text #}
                {% field obj=object lang=lang field_name='gratitude_text' label=True icon="heart" %}
            </div>
            <div class="center-right">
              {# promoter #}
              {% field obj=object lang=lang field_name='promoter' label=True icon='bullseye' %}
              {# category #}
              {% include 'fields/field--category.html' with b="project" m="full" category_base_url="projects_cat" category=object.category translation=translation %}
              {# tags #}
              {% include 'fields/field--tags.html' with b="project" m="full" tags=object.tags.all %}
            </div>
            <div class="right">
              {# links #}
              {% include 'fields/field--links.html' with b="project" m="full" links=object.links.all %}
              {# attachments #}
              {% include 'fields/field--attachments.html' with b="resource" m="full" files=object.attachments.all %}
            </div>
        </div>
    </div>
    {% with object.get_public_related as related %}
    {% if related|length > 0 %}
        <div class="container-fixed">
            {% include 'blocks/related.html' with related=related %}
        </div>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}

{% block page_scripts %}
    {% include 'scripts/situation-map.html' with position=object.geolocation %}
    {% include 'scripts/flexslider.html' %}
    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}
