{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n imagekit %}
{% block body_classes %}page--projects{% endblock %}
{% block page_html_title %}{% trans 'Proyectos' %}{% endblock %}


{% block main %}
{% if request.user.is_staff %}
<div class="page__add--projects">
    <a href="{% url 'admin:models_project_add' %}" target="_blank">
        {% trans 'Publica un proyecto nuevo' %}
    </a>
</div>
{% endif %}
<div class="container-fixed">
    <div class="view-header">
        <div class="left">
            <nav class="breadcrumb">
                <a href="{% url 'front' %}">s3</a> » {% if category %}<a href="{% url 'projects' %}">{% trans 'Trabajos' %}</a>{% else %}{% trans 'Trabajos' %}{% endif %}{% if category %}» {{ category }}{% endif %}
            </nav>
            <h1 class="page__title--projects">
              {% trans 'Trabajos' %}
            </h1>
        </div>
        <div class="center">
            {% text 'Proyectos-vista' user.is_staff lang %}
        </div>
        <div class="right">
            {% include 'blocks/categories-filters.html' with items=categories %}
        </div>
    </div>
    <div class="list--projects masonry">
        {% if object_list|length > 0 %}
            {% for project in object_list %}
                {% include 'views/item--grid.html' with item=project show_cat=True show_date=True %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    {% include 'scripts/masonry.html' %}
{% endblock %}
