{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n imagekit %}
{% block body_classes %}page--projects{% endblock %}
{% block page_html_title %}{% trans 'Proyectos' %}{% endblock %}


{% block main %}

{# fake_breadcrumb #}
<div class="container-fixed">
    <nav class="breadcrumb">
        <a href="{% url 'front' %}">s3</a> » {% trans 'Proyectos' %}
    </nav>
    <h1 class="page__title--projects">
        {% trans 'Proyectos' %}
    </h1>
    <div class="list--projects masonry">
        {% if object_list|length > 0 %}
            {% for project in object_list %}
                {% include 'views/item--grid.html' with item=project show_cat=True show_date=True %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    {% masonry %}
{% endblock %}
