{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n imagekit %}
{% block body_classes %}page--resources{% endblock %}
{% block page_html_title %}{% trans 'Recursos' %}{% endblock %}

{% block main %}
{% if request.user.is_staff %}
<div class="page__add--resources">
    <a href="{% url 'admin:models_resource_add' %}" target="_blank">
        {% trans 'Publica un recurso nuevo' %}
    </a>
</div>
{% endif %}
<div class="container-fixed">
    <div class="view-header">
        <div class="left">
            <nav class="breadcrumb">
                <a href="{% url 'front' %}">s3</a> » {% if category %}<a href="{% url 'resources' %}">{% trans 'Recursos' %}</a>{% else %}{% trans 'Recursos' %}{% endif %} {% if category %}» {{ category }}{% endif %}
            </nav>
            <h1 class="page__title--resources">
                {% trans 'Recursos' %}
            </h1>
        </div>
        <div class="center">
            {% text 'Recursos-vista' user.is_staff lang %}
        </div>
        <div class="right">
            {% include 'blocks/categories-filters.html' with items=categories %}
        </div>
    </div>
    <div class="list--resources masonry">
        {% if object_list|length > 0 %}
            {% for resource in object_list %}
                {% include 'views/item--grid.html' with item=resource show_cat=True %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    {% include 'scripts/masonry.html' %}
{% endblock %}
