{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n imagekit %}
{% block body_classes %}page--resources{% endblock %}
{% block page_html_title %}{% trans 'Recursos' %}{% endblock %}

{% block main %}
<div class="container-fixed">
    <nav class="breadcrumb">
        <a href="{% url 'front' %}">s3</a> » <a href="{% url 'resources' %}">{% trans 'Recursos' %}</a> {% if category %}» {{ category }}{% endif %} 
    </nav>
    <h1 class="page__title--resources">
        {% trans 'Recursos' %}
    </h1>
    <div class="list--resources masonry">
        {% if object_list|length > 0 %}
            {% for resource in object_list %}
                {% include 'views/item--grid.html' with item=resource show_cat=True %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    {% masonry %}
{% endblock %}
