{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n imagekit %}
{% block body_classes %}page--resource{% endblock %}
{% block page_html_title %}{{ object.name }}{% endblock %}

{% block page_header %}
    <link rel="stylesheet" href='{% js 'bower_components/flexslider/flexslider.css' %}' />
    <link rel="stylesheet" href='{% js 'bower_components/lightbox2/dist/css/lightbox.min.css' %}' />
{% endblock %}

{% block main %}
{% if request.user.is_staff %}
<div class="page__edit--resource">
    <a href="{% url 'admin:models_resource_change' object.id %}" target="_blank">
        {% trans 'Edita este contenido' %}
    </a>
</div>
{% endif %}

<div class="page__content--resource">
    <div class="container-fixed">
        <nav class="breadcrumb">
            <a href="{% url 'front' %}">s3</a> » <a href="{% url 'resources' %}">{% trans 'Recursos' %}</a> » {{ object.name }}
        </nav>
        {# title #}
        <h1 class="page__title--resource">
            {{ object.name }}
        </h1>
        {# dates #}
        <div class="left">
            {# body #}
            {% field obj=object field_name='description' %}
        </div>
        <div class="right">
            {% include 'blocks/flexslider.html' with images=object.images.all videos=object.videos.all notcaption=image.notcaption %}
            {% include 'blocks/share.html' %}
        </div>
    </div>
    <div class="page__content-bottom--resource">
        <div class="container-fixed">
            <div class="left">
                <h4 class="meta-title">{{ object.name }}</h4>
                {# promoter #}
                {% field obj=object field_name='license' label=True %}
            </div>
            <div class="center">
                {# promoter #}
                {% field obj=object field_name='promoter' label=True %}
                {# author_text #}
                {% field obj=object field_name='author_text' label=True %}
                {# gratitude_text #}
                {% field obj=object field_name='gratitude_text' label=True %}
            </div>
            <div class="right">
                {# category #}
                {% include 'fields/field--category.html' with b="resource" m="full" category_base_url="resources" category=object.category %}
                {# tags #}
                {% include 'fields/field--tags.html' with b="resource" m="full" tags=object.tags.all %}
                {# links #}
                {% include 'fields/field--links.html' with b="resource" m="full" links=object.links.all %}
            </div>
        </div>
    </div>
    {% include 'blocks/next-navigation.html' with prev=previous_resource next=next_resource all_url='connections' see_all='Ver todas las conexiones' %}
</div>
{% endblock %}


{% block page_scripts %}
    {% include 'scripts/flexslider.html' %}
{% endblock %}
