{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n imagekit %}
{% block body_classes %}page--tag{% endblock %}
{% block page_html_title %}Tag: {{ object.name }}{% endblock %}

{% block main %}
<div class="container-fixed">
    <nav class="breadcrumb">
        <a href="{% url 'front' %}">s3</a> » {% trans 'Contenido etiquetado con' %} #{% simple_field object 'name' lang %}
    </nav>
    <h1 class="page__title--tag">
        #{% simple_field object 'name' lang %}
    </h1>
    <div class="tagged-content masonry">
        {% if object_list|length > 0 %}
        {% for item in object_list %}
            {% include 'views/item--grid.html' with item=item %}
        {% empty %}
            {% trans 'Parece que no hay contenido taggeada con esta etiqueta.'}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
