{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n imagekit %}
{% block body_classes %}page--tag{% endblock %}
{% block page_html_title %}Tag: {{ object.name }}{% endblock %}

{% block main %}
<div class="container-fixed">
    {# fake_breadcrumb #}
    {% fake_breadcrumb %}
    <h1 class="page__title--tag">
        tag: {{ object.name }}
    </h1>
    <div class="tagged-content masonry">
        {% if object_list|length > 0 %}
        {% for item in object_list %}
            {% include 'views/item--grid.html' with item=item %}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    {% masonry %}
{% endblock %}
