{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n imagekit %}
{% block body_classes %}page--who{% endblock %}
{% block page_html_title %}{% trans 'Quiénes somos' %}{% endblock %}

{% block main %}
<div class="container-fixed">
    <nav class="breadcrumb">
        <a href="{% url 'front' %}">s3</a> » {% trans 'Quiénes somos' %}
    </nav>
    <h1 class="page__title--projects">
        {% trans 'Quiénes somos' %}
    </h1>
    <div class="page__content--who">
        {% text 'Definición' user.is_staff lang %}
        {% text 'Contacto' user.is_staff lang %}
        <div class="list--team">
            <h3 class="list--team__title">
                {% trans 'El equipo' %}
            </h3>
            <div class="list--team__items masonry">
                {% if object_list|length > 0 %}
                {% for person in object_list %}
                    {% include 'views/team--grid.html' with person=person %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% text 'Nuestra relación con AACC' user.is_staff lang %}
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    {% include 'scripts/masonry.html' %}
{% endblock %}
