{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n imagekit %}
{% block body_classes %}page--team{% endblock %}
{% block page_html_title %}{% trans 'Equipo' %}{% endblock %}

{% block main %}
<div class="container-fixed">
    {% fake_breadcrumb %}
    <div class="list--team masonry">
        {% if object_list|length > 0 %}
        {% for person in object_list %}
            {% include 'views/team--grid.html' with person=person %}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    {% masonry %}
{% endblock %}
