{# Frontpage #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n l10n imagekit %}
{% block body_classes %}page--team{% endblock %}
{% block page_html_title %}{% trans 'Equipo' %}{% endblock %}


{% block main %}

{# brand #}
{% include 'blocks/brand.html' %}

{# fake_breadcrumb #}
<div class="container-fixed">
    {% fake_breadcrumb %}
    <div class="list--team masonry">
        {% if object_list|length > 0 %}
        {% for team in object_list %}
            {% if team.published %}
            <div class="team-grid masonry__item three-col">
                {% if team.image %}
                <figure class="team-grid__image">
                    {% thumbnail '480x480' team.image %}
                </figure>
                {% endif %}
                <h5 class="team-grid__name">
                    {{ team.fullname }}
                </h5>
                <p class="team-grid__text">
                    {{ team.summary }}
                </p>
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    {% masonry %}
{% endblock %}
