.admin .breadcrumbs
  background-color: darken($palette_brown, 5%)
  +links(white, $palette_orange, .2s ease)
  font-weight: bold
  color: white
  text-transform: uppercase
  font-size: .75em
  letter-spacing: 1px
  a
    font-weight: normal
    border-bottom: 1px dotted white
