.admin .module
  padding: $m

.admin table caption
  background-color: transparent
  border-bottom: 1px dashed $color_text
  color: $color_text !important
  +links(#222, #333, .2s ease)

.admin table tr
  height: $m*2

.admin table th,
.admin table td
  line-height: $m*2

.admin .app-auth,
.admin .app-models
  +links(#222, #333, .2s ease)

.admin th,
.admin .inline-group .tabular tr.add-row td
  background-color: transparent
  border: 0

#content-related
  background: transparent
